.container{
    height:500px;
    width: fit-content;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    overflow: hidden;
    white-space: nowrap;
    max-width: 95vw;
    padding: 0 5px;
    transition: .5s ease all ;
}

@media(max-width: 600px){
    .container{
        margin-top: 250px;
        
    }
}
